<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webby">
          <webHttp  defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding
                maxReceivedMessageSize="2147483647"
                maxBufferSize="2147483647"
                maxBufferPoolSize="2147483647"
             >
          <readerQuotas
             maxDepth="2147483647"
             maxStringContentLength="2147483646"
             maxArrayLength="2147483647"
             maxBytesPerRead="2147483647"
             maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>


    <client>
      <endpoint name="IMapReduceService" binding="webHttpBinding" contract="IMapReduceService" behaviorConfiguration="webby"/>
    </client>
  </system.serviceModel>
  
  
</configuration>
